.root {
    -fx-background-color: #2e2e2e;
    -fx-background-radius: 10px;
}

* {
    -fx-font-family: 'Inter';
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.label {
    -fx-font-size: 20px;
}

.button {
    -fx-background-color: #33A77D;
    -fx-background-radius: 10px;
    -fx-padding: 6px 2px;
}

.check-box {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.check-box .box {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: #33A77D;
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
}

.check-box .box .mark {
    -fx-background-color: transparent;
}

.check-box:selected .box .mark {
    -fx-background-color: #33A77D;
    -fx-background-radius: 6px;
}

.check-box:selected:hover .box .mark {
    -fx-background-color: #33A77D;
    -fx-effect: dropshadow(gaussian, #33A77D, 10, 0, 0, 0);
}

.check-box:selected .box .mark:hover {
    -fx-background-color: #33A77D;
    -fx-effect: dropshadow(gaussian, #33A77D, 10, 0, 0, 0);
}


.button:hover {
    -fx-effect: dropshadow(gaussian, #33A77D, 10, 0, 0, 0);
}

.check-box .box:hover {
    -fx-effect: dropshadow(gaussian, #33A77D, 10, 0, 0, 0);
}

.text-field {
    -fx-background-color: #3e3e3e;
    -fx-background-radius: 10px;
    -fx-padding: 6px 2px;
    -fx-border-color: transparent;
}

.menu-button {
    -fx-background-color: #3e3e3e;
    -fx-background-radius: 10px;
    -fx-padding: 1px 2px;
    -fx-border-color: transparent;
}

.text-field:hover {
    -fx-effect: dropshadow(gaussian, #33A77D, 10, 0, 0, 0);
}

.menu-button:hover {
    -fx-effect: dropshadow(gaussian, #33A77D, 10, 0, 0, 0);
}

.menu-item {
    -fx-font-family: 'Inter';
    -fx-font-size: 14px;
}

.window-header {
    -fx-background-color: #3f51b5;
    -fx-background-radius: 0 0 10px 10px;
}


